<a href="https://colab.research.google.com/github/FelipPalermo/DataEng_SC23/blob/main/Preco_Consumidor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# *Instalação de bibliotecas necessárias*

In [ ]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 52 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 78.7 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=4c7a55a5395a63b66b3479f10ad6867bf4bea5d1e1d7d63ee6cb8017bfbae8d9
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [ ]:
!pip install gcsfs

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting gcsfs
  Downloading gcsfs-2022.8.2-py2.py3-none-any.whl (25 kB)
Requirement already satisfied: aiohttp!=4.0.0a0,!=4.0.0a1 in /usr/local/lib/python3.7/dist-packages (from gcsfs) (3.8.1)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from gcsfs) (2.23.0)
Requirement already satisfied: google-auth>=1.2 in /usr/local/lib/python3.7/dist-packages (from gcsfs) (1.35.0)
Requirement already satisfied: google-auth-oauthlib in /usr/local/lib/python3.7/dist-packages (from gcsfs) (0.4.6)
Collecting fsspec==2022.8.2
  Downloading fsspec-2022.8.2-py3-none-any.whl (140 kB)
     |████████████████████████████████| 140 kB 14.9 MB/s
Requirement already satisfied: google-cloud-storage in /usr/local/lib/python3.7/dist-packages (from gcsfs) (1.18.1)
Requirement already satisfied: decorator>4.1.2 in /usr/local/lib/python3.7/dist-packages (from gcsfs) (4.4.2)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.7/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (1.2.0)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.7/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (4.0.2)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (2.1.1)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (1.3.1)
Requirement already satisfied: typing-extensions>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (4.1.1)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (1.8.1)
Requirement already satisfied: asynctest==0.13.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (0.13.0)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (22.1.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.7/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (6.0.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (0.2.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (4.2.4)
Requirement already satisfied: setuptools>=40.3.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (57.4.0)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (1.15.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (4.9)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth>=1.2->gcsfs) (0.4.8)
Requirement already satisfied: idna>=2.0 in /usr/local/lib/python3.7/dist-packages (from yarl<2.0,>=1.0->aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (2.10)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib->gcsfs) (1.3.1)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib->gcsfs) (3.2.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->gcsfs) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->gcsfs) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->gcsfs) (2022.6.15)
Requirement already satisfied: google-resumable-media<0.5.0dev,>=0.3.1 in /usr/local/lib/python3.7/dist-packages (from google-cloud-storage->gcsfs) (0.4.1)
Requirement already satisfied: google-cloud-core<2.0dev,>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from google-cloud-storage->gcsfs) (1.0.3)
Requirement already satisfied: google-api-core<2.0.0dev,>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (1.31.6)
Requirement already satisfied: protobuf<4.0.0dev,>=3.12.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (3.17.3)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (1.56.4)
Requirement already satisfied: packaging>=14.3 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (21.3)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (2022.2.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=14.3->google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (3.0.9)
Installing collected packages: fsspec, gcsfs
  Attempting uninstall: fsspec
    Found existing installation: fsspec 2022.8.1
    Uninstalling fsspec-2022.8.1:
      Successfully uninstalled fsspec-2022.8.1
Successfully installed fsspec-2022.8.2 gcsfs-2022.8.2

# *Importação das Bibliotecas*

In [ ]:
# Bibliotecas para o pandas 
import pandas as pd 

# Bibliotecas para acesso ao bucket do GCP
from google.cloud import storage
import os

In [ ]:
# Bibliotecas para configuração do PySpark
from pyspark.sql import SparkSession
from pyspark import SparkConf
import pyspark.sql.functions as F
from pyspark.sql.types import *
from pyspark.sql.window import Window

# *Iniciando a SparkSession*

In [ ]:
spark = (SparkSession.builder
          .master('local')
          .appName('E8-Precos_DoConsumidor.json')
          .config('spark.ui.port', '4050')
          .config("spark.jars", 'https://storage.googleapis.com/hadoop-lib/gcs/gcs-connector-hadoop2-latest.jar')
          .getOrCreate()
         )

# *Extração dos dados via Bucket do GCP*

In [ ]:
# Configuração da chave de segurança
serviceAccount = '/content/drive/MyDrive/DATASET/lunar-reef-355417-ecfe16be5ae7.json'
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = serviceAccount

In [ ]:
# Códigos de acesso ao bucket para criar um DataFrame a partir do dataset
client = storage.Client()

# Criando uma variável para receber o nome da Bucket
bucket = client.get_bucket('bucket_e8_pf')

# Escolhendo o arquivo dentro da Bucket
bucket.blob('Precos_DoConsumidor.json')

# Criando uma variável para receber o caminho do arquivo
path = ('gs://bucket_e8_pf/Precos_DoConsumidor.json')

In [ ]:
df_pandas = pd.read_json(path)

# Pandas

In [ ]:
df_pandas

,ano,mes,indice,variacao_mensal,variacao_trimestral,variacao_semestral,variacao_anual,variacao_doze_meses
0,1979,3,5.576500e-09,NaN,NaN,NaN,NaN,NaN
1,1979,4,5.768900e-09,3.45,NaN,NaN,NaN,NaN
2,1979,5,5.870400e-09,1.76,NaN,NaN,NaN,NaN
3,1979,6,6.046500e-09,3.00,8.43,NaN,NaN,NaN
4,1979,7,6.370500e-09,5.36,10.43,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
516,2022,3,6.546800e+03,1.71,3.42,6.26,3.42,11.73
517,2022,4,6.614890e+03,1.04,3.80,6.14,4.49,12.47
518,2022,5,6.644660e+03,0.45,3.23,5.73,4.96,11.90
519,2022,6,6.685860e+03,0.62,2.12,5.61,5.61,11.92
520,2022,7,6.645740e+03,-0.60,0.47,4.28,4.98,10.12

# *Pré-Análise*

In [ ]:
df_pandas.dtypes

ano                      int64
mes                      int64
indice                 float64
variacao_mensal        float64
variacao_trimestral    float64
variacao_semestral     float64
variacao_anual         float64
variacao_doze_meses    float64
dtype: object

In [ ]:
df_pandas

,ano,mes,indice,variacao_mensal,variacao_trimestral,variacao_semestral,variacao_anual,variacao_doze_meses
0,1979,3,5.576500e-09,NaN,NaN,NaN,NaN,NaN
1,1979,4,5.768900e-09,3.45,NaN,NaN,NaN,NaN
2,1979,5,5.870400e-09,1.76,NaN,NaN,NaN,NaN
3,1979,6,6.046500e-09,3.00,8.43,NaN,NaN,NaN
4,1979,7,6.370500e-09,5.36,10.43,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
516,2022,3,6.546800e+03,1.71,3.42,6.26,3.42,11.73
517,2022,4,6.614890e+03,1.04,3.80,6.14,4.49,12.47
518,2022,5,6.644660e+03,0.45,3.23,5.73,4.96,11.90
519,2022,6,6.685860e+03,0.62,2.12,5.61,5.61,11.92
520,2022,7,6.645740e+03,-0.60,0.47,4.28,4.98,10.12

Colunas que possuem números nulos - NaN (Colunas: variacao_mensal,variacao_trimestral,	variacao_semestral,	variacao_anual e variacao_doze_meses)

In [ ]:
# Drop de colunas com números nulos e sem utilização para as analises realizadas
df_pandas.drop(['variacao_mensal','variacao_trimestral','variacao_semestral','variacao_doze_meses'],axis=1 ,inplace=True)

In [ ]:
# Backup 
df1 = df_pandas.copy()

In [ ]:
df_pandas.isna().sum()

ano                0
mes                0
indice             0
variacao_anual    10
dtype: int64

In [ ]:
df_pandas.head(12)

     ano  mes        indice  variacao_anual
0   1979    3  5.576500e-09             NaN
1   1979    4  5.768900e-09             NaN
2   1979    5  5.870400e-09             NaN
3   1979    6  6.046500e-09             NaN
4   1979    7  6.370500e-09             NaN
5   1979    8  6.739000e-09             NaN
6   1979    9  7.184300e-09             NaN
7   1979   10  7.548100e-09             NaN
8   1979   11  8.008900e-09             NaN
9   1979   12  8.369800e-09             NaN
10  1980    1  8.919000e-09            6.56
11  1980    2  9.289000e-09           10.98

In [ ]:
df_pandas.tail(10)

      ano  mes   indice  variacao_anual
511  2021   10  6232.36            8.45
512  2021   11  6284.71            9.36
513  2021   12  6330.59           10.16
514  2022    1  6373.00            0.67
515  2022    2  6436.73            1.68
516  2022    3  6546.80            3.42
517  2022    4  6614.89            4.49
518  2022    5  6644.66            4.96
519  2022    6  6685.86            5.61
520  2022    7  6645.74            4.98

# *Tratamento dos dados com Pandas*

In [ ]:
# Criando uma cópia do DataFrame original para trabalhar com Pandas
df1 = df_pandas.copy()

In [ ]:
# Verificar e insert de dados 
df_pandas.loc[10]

ano               1.980000e+03
mes               1.000000e+00
indice            8.919000e-09
variacao_anual    6.560000e+00
Name: 10, dtype: float64

In [ ]:
pd.unique(df_pandas['ano'])

array([1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989,
       1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000,
       2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011,
       2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022])

Drop de linhas que interferem na análise realiza.

In [ ]:
df_pandas.drop([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129], axis=0, inplace=True)

In [ ]:
df_pandas

      ano  mes       indice  variacao_anual
130  1990    1     0.005366           68.19
131  1990    2     0.009337          192.63
132  1990    3     0.017010          433.12
133  1990    4     0.019505          511.33
134  1990    5     0.020931          556.02
..    ...  ...          ...             ...
516  2022    3  6546.800000            3.42
517  2022    4  6614.890000            4.49
518  2022    5  6644.660000            4.96
519  2022    6  6685.860000            5.61
520  2022    7  6645.740000            4.98

[391 rows x 4 columns]

# *Plotagem*

# *Tratamento dos dados com PySpark*

In [ ]:
def schemaPySpark(df):
  # Definindo o schema
  mySchema = StructType([StructField("ano", IntegerType(), True),
        StructField("mes", IntegerType(), True),
        StructField("indice", StringType(), True),
        StructField("variacao_mensal ", StringType(), True),
        StructField("variacao_trimestral ", StringType(), True),
        StructField("variacao_anual", StringType(), True),
        StructField("variacao_doze_meses", StringType(), True)])
   
  # Convertendo para PySpark
  df_pyspark = spark.createDataFrame(df, schema = mySchema)

In [ ]:
spark

In [ ]:
  df_pyspark = spark.createDataFrame(df_pandas)

In [ ]:
df_pyspark.show(500)

+----+---+----------------+--------------+
| ano|mes|          indice|variacao_anual|
+----+---+----------------+--------------+
|1990|  1| 0.0053663052799|         68.19|
|1990|  2| 0.0093368346371|        192.63|
|1990|  3| 0.0170098454104|        433.12|
|1990|  4| 0.0195051897442|        511.33|
|1990|  5| 0.0209310190666|        556.02|
|1990|  6| 0.0233673896742|        632.38|
|1990|  7| 0.0263163543373|         724.8|
|1990|  8| 0.0295216863099|        825.26|
|1990|  9| 0.0337314788076|        957.21|
|1990| 10| 0.0385989312553|       1109.76|
|1990| 11| 0.0451298705166|       1314.45|
|1990| 12| 0.0537677278248|       1585.18|
|1991|  1|  0.065032066804|         20.95|
|1991|  2| 0.0781675227116|         45.38|
|1991|  3| 0.0873833112608|         62.52|
|1991|  4| 0.0917600043057|         70.66|
|1991|  5| 0.0978895252777|         82.06|
|1991|  6| 0.1084925212048|        101.78|
|1991|  7| 0.1216656145218|        126.28|
|1991|  8| 0.1406671295351|        161.62|
|1991|  9| 0.1626419998971|        202.49|
|1991| 10| 0.1969243031581|        266.25|
|1991| 11| 0.2490682456026|        363.23|
|1991| 12| 0.3092182027201|         475.1|
|1992|  1| 0.3893697545885|         25.92|
|1992|  2| 0.4846891824762|         56.75|
|1992|  3| 0.5894771072339|         90.63|
|1992|  4| 0.7123256117679|        130.36|
|1992|  5| 0.8868449027414|         186.8|
|1992|  6| 1.0717521187308|         246.6|
|1992|  7|  1.308394642433|        323.13|
|1992|  8| 1.6012136881666|        417.83|
|1992|  9| 1.9851851628815|         542.0|
|1992| 10| 2.5027210502859|        709.37|
|1992| 11| 3.0755946831675|        894.64|
|1992| 12|  3.862329453472|       1149.06|
|1993|  1| 4.9735202005622|         28.77|
|1993|  2|  6.206457213766|         60.69|
|1993|  3| 7.9181958432492|        105.01|
|1993|  4|10.1645900046761|        163.17|
|1993|  5|12.8866672541687|        233.65|
|1993|  6|16.8003502644861|        334.98|
|1993|  7|22.0101366146558|        469.87|
|1993|  8|29.3483184707683|        659.86|
|1993|  9|39.8051253226265|         930.6|
|1993| 10|53.3866329234744|       1282.24|
|1993| 11|72.6058212060671|       1779.85|
|1993| 12|           100.0|       2489.11|
|1994|  1|          141.32|         41.32|
|1994|  2|          198.65|         98.65|
|1994|  3|          284.23|        184.23|
|1994|  4|          406.05|        306.05|
|1994|  5|          579.56|        479.56|
|1994|  6|          859.14|        759.14|
|1994|  7|          925.72|        825.72|
|1994|  8|          942.85|        842.85|
|1994|  9|          956.05|        856.05|
|1994| 10|          983.01|        883.01|
|1994| 11|         1012.11|        912.11|
|1994| 12|         1029.32|        929.32|
|1995|  1|         1044.14|          1.44|
|1995|  2|         1054.69|          2.46|
|1995|  3|         1071.78|          4.13|
|1995|  4|         1098.47|          6.72|
|1995|  5|         1121.54|          8.96|
|1995|  6|         1145.99|         11.33|
|1995|  7|         1174.18|         14.07|
|1995|  8|         1186.16|         15.24|
|1995|  9|         1200.04|         16.59|
|1995| 10|         1216.84|         18.22|
|1995| 11|         1235.21|          20.0|
|1995| 12|         1255.59|         21.98|
|1996|  1|         1273.92|          1.46|
|1996|  2|         1282.96|          2.18|
|1996|  3|         1286.68|          2.48|
|1996|  4|         1298.65|          3.43|
|1996|  5|         1315.27|          4.75|
|1996|  6|         1332.76|          6.15|
|1996|  7|         1348.75|          7.42|
|1996|  8|         1355.49|          7.96|
|1996|  9|         1355.76|          7.98|
|1996| 10|         1360.91|          8.39|
|1996| 11|         1365.54|          8.76|
|1996| 12|         1370.05|          9.12|
|1997|  1|         1381.15|          0.81|
|1997|  2|         1387.37|          1.26|
|1997|  3|          1396.8|          1.95|
|1997|  4|         1405.18|          2.56|
|1997|  5|         1406.73|          2.68|
|1997|  6|         1411.65|          3.04|
|1997|  7|         1414.19|          3.22|
|1997|  8|         1413.77|          3.19|
|1997|  9|         1415.18|          3.29|
|1997| 10|         1419.28|          3.59|
|1997| 11|         1421.41|          3.75|
|1997| 12|         1429.51|          4.34|
|1998|  1|         1441.66|          0.85|
|1998|  2|         1449.44|          1.39|
|1998|  3|         1456.54|          1.89|
|1998|  4|         1463.09|          2.35|
|1998|  5|         1473.62|          3.09|
|1998|  6|         1475.83|          3.24|
|1998|  7|          1471.7|          2.95|
|1998|  8|         1464.49|          2.45|
|1998|  9|         1459.95|          2.13|
|1998| 10|         1461.56|          2.24|
|1998| 11|         1458.93|          2.06|
|1998| 12|         1465.06|          2.49|
|1999|  1|         1474.58|          0.65|
|1999|  2|          1493.6|          1.95|
|1999|  3|         1512.72|          3.25|
|1999|  4|         1519.83|          3.74|
|1999|  5|         1520.59|          3.79|
|1999|  6|         1521.65|          3.86|
|1999|  7|         1532.91|          4.63|
|1999|  8|         1541.34|          5.21|
|1999|  9|         1547.35|          5.62|
|1999| 10|          1562.2|          6.63|
|1999| 11|         1576.88|          7.63|
|1999| 12|         1588.55|          8.43|
|2000|  1|         1598.24|          0.61|
|2000|  2|         1599.04|          0.66|
|2000|  3|         1601.12|          0.79|
|2000|  4|         1602.56|          0.88|
|2000|  5|         1601.76|          0.83|
|2000|  6|         1606.57|          1.13|
|2000|  7|          1628.9|          2.54|
|2000|  8|         1648.61|          3.78|
|2000|  9|          1655.7|          4.23|
|2000| 10|         1658.35|          4.39|
|2000| 11|         1663.16|           4.7|
|2000| 12|         1672.31|          5.27|
|2001|  1|         1685.19|          0.77|
|2001|  2|         1693.45|          1.26|
|2001|  3|         1701.58|          1.75|
|2001|  4|         1715.87|           2.6|
|2001|  5|         1725.65|          3.19|
|2001|  6|          1736.0|          3.81|
|2001|  7|         1755.27|          4.96|
|2001|  8|         1769.14|          5.79|
|2001|  9|         1776.92|          6.26|
|2001| 10|         1793.62|          7.25|
|2001| 11|         1816.76|          8.64|
|2001| 12|          1830.2|          9.44|
|2002|  1|         1849.78|          1.07|
|2002|  2|         1855.51|          1.38|
|2002|  3|         1867.01|          2.01|
|2002|  4|         1879.71|          2.71|
|2002|  5|          1881.4|           2.8|
|2002|  6|         1892.88|          3.42|
|2002|  7|         1914.65|          4.61|
|2002|  8|         1931.12|          5.51|
|2002|  9|         1947.15|          6.39|
|2002| 10|         1977.72|          8.06|
|2002| 11|         2044.76|         11.72|
|2002| 12|         2099.97|         14.74|
|2003|  1|         2151.84|          2.47|
|2003|  2|         2183.26|          3.97|
|2003|  3|         2213.17|          5.39|
|2003|  4|         2243.71|          6.84|
|2003|  5|         2265.92|           7.9|
|2003|  6|         2264.56|          7.84|
|2003|  7|         2265.47|          7.88|
|2003|  8|         2269.55|          8.08|
|2003|  9|         2288.16|          8.96|
|2003| 10|         2297.08|          9.39|
|2003| 11|         2305.58|          9.79|
|2003| 12|         2318.03|         10.38|
|2004|  1|         2337.27|          0.83|
|2004|  2|         2346.39|          1.22|
|2004|  3|         2359.76|           1.8|
|2004|  4|         2369.43|          2.22|
|2004|  5|         2378.91|          2.63|
|2004|  6|          2390.8|          3.14|
|2004|  7|         2408.25|          3.89|
|2004|  8|         2420.29|          4.41|
|2004|  9|          2424.4|          4.59|
|2004| 10|         2428.52|          4.77|
|2004| 11|         2439.21|          5.23|
|2004| 12|         2460.19|          6.13|
|2005|  1|         2474.21|          0.57|
|2005|  2|          2485.1|          1.01|
|2005|  3|         2503.24|          1.75|
|2005|  4|         2526.02|          2.68|
|2005|  5|          2543.7|          3.39|
|2005|  6|          2540.9|          3.28|
|2005|  7|         2541.66|          3.31|
|2005|  8|         2541.66|          3.31|
|2005|  9|         2545.47|          3.47|
|2005| 10|         2560.23|          4.07|
|2005| 11|         2574.05|          4.63|
|2005| 12|         2584.35|          5.05|
|2006|  1|         2594.17|          0.38|
|2006|  2|         2600.14|          0.61|
|2006|  3|         2607.16|          0.88|
|2006|  4|         2610.29|           1.0|
|2006|  5|         2613.68|          1.13|
|2006|  6|         2611.85|          1.06|
|2006|  7|         2614.72|          1.18|
|2006|  8|          2614.2|          1.16|
|2006|  9|         2618.38|          1.32|
|2006| 10|         2629.64|          1.75|
|2006| 11|         2640.68|          2.18|
|2006| 12|         2657.05|          2.81|
|2007|  1|         2670.07|          0.49|
|2007|  2|         2681.28|          0.91|
|2007|  3|         2693.08|          1.36|
|2007|  4|         2700.08|          1.62|
|2007|  5|          2707.1|          1.88|
|2007|  6|         2715.49|           2.2|
|2007|  7|         2724.18|          2.53|
|2007|  8|         2740.25|          3.13|
|2007|  9|          2747.1|          3.39|
|2007| 10|         2755.34|           3.7|
|2007| 11|         2767.19|          4.15|
|2007| 12|         2794.03|          5.16|
|2008|  1|         2813.31|          0.69|
|2008|  2|         2826.81|          1.17|
|2008|  3|         2841.23|          1.69|
|2008|  4|         2859.41|          2.34|
|2008|  5|         2886.86|          3.32|
|2008|  6|         2913.13|          4.26|
|2008|  7|         2930.03|          4.87|
|2008|  8|         2936.18|          5.09|
|2008|  9|         2940.58|          5.25|
|2008| 10|         2955.28|          5.75|
|2008| 11|         2966.51|          6.17|
|2008| 12|         2975.11|          6.48|
|2009|  1|         2994.15|          0.64|
|2009|  2|         3003.43|          0.95|
|2009|  3|         3009.44|          1.15|
|2009|  4|         3025.99|          1.71|
|2009|  5|         3044.15|          2.32|
|2009|  6|         3056.93|          2.75|
|2009|  7|         3063.96|          2.99|
|2009|  8|         3066.41|          3.07|
|2009|  9|         3071.32|          3.24|
|2009| 10|         3078.69|          3.48|
|2009| 11|         3090.08|          3.86|
|2009| 12|          3097.5|          4.11|
|2010|  1|         3124.76|          0.88|
|2010|  2|         3146.63|          1.59|
|2010|  3|         3168.97|          2.31|
|2010|  4|          3192.1|          3.05|
|2010|  5|         3205.83|           3.5|
|2010|  6|          3202.3|          3.38|
|2010|  7|         3200.06|          3.31|
|2010|  8|         3197.82|          3.24|
|2010|  9|         3215.09|          3.79|
|2010| 10|         3244.67|          4.75|
|2010| 11|         3278.09|          5.83|
|2010| 12|         3297.76|          6.46|
|2011|  1|         3328.76|          0.94|
|2011|  2|         3346.74|          1.48|
|2011|  3|         3368.83|          2.15|
|2011|  4|         3393.09|          2.89|
|2011|  5|         3412.43|          3.48|
|2011|  6|         3419.94|           3.7|
|2011|  7|         3419.94|           3.7|
|2011|  8|          3434.3|          4.14|
|2011|  9|         3449.76|          4.61|
|2011| 10|          3460.8|          4.94|
|2011| 11|         3480.52|          5.54|
|2011| 12|         3498.27|          6.08|
|2012|  1|         3516.11|          0.51|
|2012|  2|         3529.82|           0.9|
|2012|  3|         3536.17|          1.08|
|2012|  4|         3558.81|          1.73|
|2012|  5|         3578.38|          2.29|
|2012|  6|         3587.67|          2.56|
|2012|  7|          3603.1|           3.0|
|2012|  8|         3619.31|          3.46|
|2012|  9|         3642.12|          4.11|
|2012| 10|         3667.97|          4.85|
|2012| 11|         3687.78|          5.42|
|2012| 12|         3715.07|           6.2|
|2013|  1|         3749.25|          0.92|
|2013|  2|         3768.75|          1.44|
|2013|  3|         3791.36|          2.05|
|2013|  4|         3813.73|          2.66|
|2013|  5|         3827.08|          3.02|
|2013|  6|          3837.8|           3.3|
|2013|  7|         3832.81|          3.17|
|2013|  8|         3838.94|          3.33|
|2013|  9|         3849.31|          3.61|
|2013| 10|         3872.79|          4.25|
|2013| 11|          3893.7|          4.81|
|2013| 12|         3921.74|          5.56|
|2014|  1|         3946.44|          0.63|
|2014|  2|          3971.7|          1.27|
|2014|  3|         4004.27|           2.1|
|2014|  4|          4035.5|           2.9|
|2014|  5|         4059.71|          3.52|
|2014|  6|         4070.27|          3.79|
|2014|  7|         4075.56|          3.92|
|2014|  8|          4082.9|          4.11|
|2014|  9|          4102.9|          4.62|
|2014| 10|         4118.49|          5.02|
|2014| 11|         4140.32|          5.57|
|2014| 12|         4165.99|          6.23|
|2015|  1|         4227.64|          1.48|
|2015|  2|         4276.69|          2.66|
|2015|  3|         4341.26|          4.21|
|2015|  4|         4372.08|          4.95|
|2015|  5|         4415.37|          5.99|
|2015|  6|         4449.36|           6.8|
|2015|  7|         4475.17|          7.42|
|2015|  8|         4486.36|          7.69|
|2015|  9|         4509.24|          8.24|
|2015| 10|         4543.96|          9.07|
|2015| 11|          4594.4|         10.28|
|2015| 12|         4635.75|         11.28|
|2016|  1|         4705.75|          1.51|
|2016|  2|         4750.45|          2.47|
|2016|  3|         4771.36|          2.93|
|2016|  4|         4801.89|          3.58|
|2016|  5|         4848.95|           4.6|
|2016|  6|         4871.74|          5.09|
|2016|  7|         4902.92|          5.76|
|2016|  8|         4918.12|          6.09|
|2016|  9|         4922.05|          6.18|
|2016| 10|         4930.42|          6.36|
|2016| 11|         4933.87|          6.43|
|2016| 12|         4940.78|          6.58|
|2017|  1|         4961.53|          0.42|
|2017|  2|         4973.44|          0.66|
|2017|  3|         4989.36|          0.98|
|2017|  4|         4993.35|          1.06|
|2017|  5|         5011.33|          1.43|
|2017|  6|          4996.3|          1.12|
|2017|  7|         5004.79|           1.3|
|2017|  8|         5003.29|          1.27|
|2017|  9|         5002.29|          1.24|
|2017| 10|          5020.8|          1.62|
|2017| 11|         5029.84|           1.8|
|2017| 12|         5042.92|          2.07|
|2018|  1|         5054.52|          0.23|
|2018|  2|         5063.62|          0.41|
|2018|  3|         5067.16|          0.48|
|2018|  4|          5077.8|          0.69|
|2018|  5|         5099.63|          1.12|
|2018|  6|         5172.55|          2.57|
|2018|  7|         5185.48|          2.83|
|2018|  8|         5185.48|          2.83|
|2018|  9|         5201.04|          3.14|
|2018| 10|         5221.84|          3.55|
|2018| 11|         5208.79|          3.29|
|2018| 12|         5216.08|          3.43|
|2019|  1|         5234.86|          0.36|
|2019|  2|         5263.13|           0.9|
|2019|  3|         5303.66|          1.68|
|2019|  4|         5335.48|          2.29|
|2019|  5|         5343.48|          2.44|
|2019|  6|         5344.01|          2.45|
|2019|  7|         5349.35|          2.55|
|2019|  8|         5355.77|          2.68|
|2019|  9|         5353.09|          2.63|
|2019| 10|         5355.23|          2.67|
|2019| 11|         5384.15|          3.22|
|2019| 12|         5449.84|          4.48|
|2020|  1|         5460.19|          0.19|
|2020|  2|         5469.47|          0.36|
|2020|  3|         5479.32|          0.54|
|2020|  4|         5466.72|          0.31|
|2020|  5|         5453.05|          0.06|
|2020|  6|         5469.41|          0.36|
|2020|  7|         5493.48|           0.8|
|2020|  8|         5513.26|          1.16|
|2020|  9|         5561.23|          2.04|
|2020| 10|         5610.72|          2.95|
|2020| 11|         5664.02|          3.93|
|2020| 12|         5746.71|          5.45|
|2021|  1|         5762.23|          0.27|
|2021|  2|         5809.48|          1.09|
|2021|  3|         5859.44|          1.96|
|2021|  4|         5881.71|          2.35|
|2021|  5|         5938.17|          3.33|
|2021|  6|          5973.8|          3.95|
|2021|  7|         6034.73|          5.01|
|2021|  8|         6087.84|          5.94|
|2021|  9|         6160.89|          7.21|
|2021| 10|         6232.36|          8.45|
|2021| 11|         6284.71|          9.36|
|2021| 12|         6330.59|         10.16|
|2022|  1|          6373.0|          0.67|
|2022|  2|         6436.73|          1.68|
|2022|  3|          6546.8|          3.42|
|2022|  4|         6614.89|          4.49|
|2022|  5|         6644.66|          4.96|
|2022|  6|         6685.86|          5.61|
|2022|  7|         6645.74|          4.98|
+----+---+----------------+--------------+

# *Filtros - Insights relevantes para o contexto*

In [ ]:
# Indice de variação nas últimas 3 decadas 
n1990 = df_pyspark.filter(df_pyspark.ano == '1990').count()
n2000 = df_pyspark.filter(df_pyspark.ano == '2000').count()
n2010 = df_pyspark.filter(df_pyspark.ano == '2010').count()
n2020 = df_pyspark.filter(df_pyspark.ano == '2020').count()

df_decadas = pd.DataFrame({'ANO': ['1990', '2000', '2010', '2020'],
                                  'Ocorrencias': [n1990, n2000, n2010, n2020]})

In [ ]:
df_pyspark.where(F.col('ANO') == 2012).show()

+----+---+-------+--------------+
| ano|mes| indice|variacao_anual|
+----+---+-------+--------------+
|2012|  1|3516.11|          0.51|
|2012|  2|3529.82|           0.9|
|2012|  3|3536.17|          1.08|
|2012|  4|3558.81|          1.73|
|2012|  5|3578.38|          2.29|
|2012|  6|3587.67|          2.56|
|2012|  7| 3603.1|           3.0|
|2012|  8|3619.31|          3.46|
|2012|  9|3642.12|          4.11|
|2012| 10|3667.97|          4.85|
|2012| 11|3687.78|          5.42|
|2012| 12|3715.07|           6.2|
+----+---+-------+--------------+

In [ ]:
# Indice de variação nos periodos festivos de final de ano 
n11 = df_pyspark.filter(df_pyspark.mes == '11').count()
n12 = df_pyspark.filter(df_pyspark.mes == '12').count()
n01 = df_pyspark.filter(df_pyspark.mes == '01').count()

df_trimestral = pd.DataFrame({'mes': ['11', '12', '01'],
                                  'Ocorrencias': [n11, n12, n01]})

In [ ]:
df_pyspark.where(F.col('mes') == 11).show()

+----+---+----------------+--------------+
| ano|mes|          indice|variacao_anual|
+----+---+----------------+--------------+
|1990| 11| 0.0451298705166|       1314.45|
|1991| 11| 0.2490682456026|        363.23|
|1992| 11| 3.0755946831675|        894.64|
|1993| 11|72.6058212060671|       1779.85|
|1994| 11|         1012.11|        912.11|
|1995| 11|         1235.21|          20.0|
|1996| 11|         1365.54|          8.76|
|1997| 11|         1421.41|          3.75|
|1998| 11|         1458.93|          2.06|
|1999| 11|         1576.88|          7.63|
|2000| 11|         1663.16|           4.7|
|2001| 11|         1816.76|          8.64|
|2002| 11|         2044.76|         11.72|
|2003| 11|         2305.58|          9.79|
|2004| 11|         2439.21|          5.23|
|2005| 11|         2574.05|          4.63|
|2006| 11|         2640.68|          2.18|
|2007| 11|         2767.19|          4.15|
|2008| 11|         2966.51|          6.17|
|2009| 11|         3090.08|          3.86|
+----+---+----------------+--------------+
only showing top 20 rows

In [ ]:
df_pandas.to_json('Preco_consumidor_tratado.json')

In [ ]:
df_pandas.to_csv('PrecoConsumidorTratado.csv')